@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

:root {
  color-scheme: light dark;

  --color-main: #1b1b1b;
  --color-primary: #ffffff;
  --color-secondary: #dddddd;

  --text-lg: 2.55rem;
  --text-base: 1.25rem;
  --text-sm: 1.05rem;
  --lh-base: 1.55;
  --lh-sm: 1.05;
  --ls-base: -0.03em;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: #ffffff;
    --color-primary: #1b1b1b;
    --color-secondary: #3d3d3d;
  }
}

* {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.75rem;
}

body {
  color: var(--color-primary);
  background-color: var(--color-main);
  font-family: 'Inter', sans-serif;
  font-size: var(--text-base);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);
}