:root {
  color-scheme: light dark;
  color: #ffffff;
  background-color: #1b1b1b;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1b1b1b;
    background-color: #ffffff;
  }
}

body {
  font-family: 'Inter', sans-serif;
}